################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.sln
*.deployproj
Deployment.targets
*.pssproj
/.chef
*.user
